ASHRAE Comfort Index.json
[
    {
        "id": "fd45d9f6c1ed23f9",
        "type": "tab",
        "label": "ASHRAE Thermal Comfort Example",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bda3f13620ff279a",
        "type": "inject",
        "z": "fd45d9f6c1ed23f9",
        "name": "1 min",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "67227a8ec910fa34"
            ]
        ]
    },
    {
        "id": "67227a8ec910fa34",
        "type": "hubitat device",
        "z": "fd45d9f6c1ed23f9",
        "deviceLabel": "Downstairs Average Temperature",
        "name": "Temp",
        "server": "27415927.da8bee",
        "deviceId": "1913",
        "attribute": "temperature",
        "sendEvent": false,
        "x": 250,
        "y": 180,
        "wires": [
            [
                "ab2f22a22760363f"
            ]
        ]
    },
    {
        "id": "8974dce69c1dc03d",
        "type": "hubitat device",
        "z": "fd45d9f6c1ed23f9",
        "deviceLabel": "Downstairs Average Humidity",
        "name": "Humidity",
        "server": "27415927.da8bee",
        "deviceId": "1944",
        "attribute": "humidity",
        "sendEvent": false,
        "x": 520,
        "y": 180,
        "wires": [
            [
                "733bb619781c3ca5"
            ]
        ]
    },
    {
        "id": "ab2f22a22760363f",
        "type": "change",
        "z": "fd45d9f6c1ed23f9",
        "name": "temp C",
        "rules": [
            {
                "t": "set",
                "p": "temperature",
                "pt": "msg",
                "to": "($.payload.value - 32.0) / 1.8",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 180,
        "wires": [
            [
                "8974dce69c1dc03d"
            ]
        ]
    },
    {
        "id": "733bb619781c3ca5",
        "type": "change",
        "z": "fd45d9f6c1ed23f9",
        "name": "humid",
        "rules": [
            {
                "t": "set",
                "p": "humidity",
                "pt": "msg",
                "to": "payload.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 180,
        "wires": [
            [
                "60685c533f78e005"
            ]
        ]
    },
    {
        "id": "1b176129099d17d4",
        "type": "hubitat command",
        "z": "fd45d9f6c1ed23f9",
        "deviceLabel": "Downstairs Thermal Comfort",
        "name": "",
        "server": "27415927.da8bee",
        "deviceId": "3804",
        "command": "setComfort",
        "commandArgs": "",
        "x": 1260,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "c64a4832a0b06d3d",
        "type": "change",
        "z": "fd45d9f6c1ed23f9",
        "name": "comfort",
        "rules": [
            {
                "t": "set",
                "p": "arguments",
                "pt": "msg",
                "to": "$round(payload.comfort, 2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 180,
        "wires": [
            [
                "08fca51a168b84c8"
            ]
        ]
    },
    {
        "id": "ea20a776f3df27ac",
        "type": "hubitat device",
        "z": "fd45d9f6c1ed23f9",
        "deviceLabel": "Downstairs Thermal Comfort",
        "name": "Downstairs Thermal Comfort - comfort",
        "server": "27415927.da8bee",
        "deviceId": "3804",
        "attribute": "comfort",
        "sendEvent": true,
        "x": 230,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "08fca51a168b84c8",
        "type": "rbe",
        "z": "fd45d9f6c1ed23f9",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "arguments",
        "x": 1070,
        "y": 180,
        "wires": [
            [
                "1b176129099d17d4"
            ]
        ]
    },
    {
        "id": "0807ba5b0ab0e842",
        "type": "hubitat device",
        "z": "fd45d9f6c1ed23f9",
        "deviceLabel": "Downstairs Thermal Comfort",
        "name": "Downstairs Thermal Comfort - sensation",
        "server": "27415927.da8bee",
        "deviceId": "3804",
        "attribute": "sensation",
        "sendEvent": true,
        "x": 240,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "d24b163d397a4b7a",
        "type": "debug",
        "z": "fd45d9f6c1ed23f9",
        "name": "Debug - Comfort",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload.comfort",
        "statusType": "msg",
        "x": 970,
        "y": 260,
        "wires": []
    },
    {
        "id": "e065863ce27f107e",
        "type": "comment",
        "z": "fd45d9f6c1ed23f9",
        "name": "Calculate ASHRAE thermal comfort index and sensation, update Hubitat device on change.",
        "info": "",
        "x": 380,
        "y": 120,
        "wires": []
    },
    {
        "id": "60685c533f78e005",
        "type": "comfort",
        "z": "fd45d9f6c1ed23f9",
        "name": "Comfort",
        "tempField": "temperature",
        "tempFieldType": "msg",
        "mrtField": "",
        "mrtFieldType": "operative",
        "humidityField": "humidity",
        "humidityFieldType": "msg",
        "airspeedField": "0",
        "airspeedFieldType": "num",
        "metabolicRateField": "1.1",
        "metabolicRateFieldType": "num",
        "clothingLevelField": "1.0",
        "clothingLevelFieldType": "num",
        "comfortField": "payload.comfort",
        "comfortFieldType": "msg",
        "sensationField": "payload.sensation",
        "sensationFieldType": "msg",
        "x": 780,
        "y": 180,
        "wires": [
            [
                "c64a4832a0b06d3d",
                "d24b163d397a4b7a",
                "71b0b82c61b0174a"
            ]
        ]
    },
    {
        "id": "71b0b82c61b0174a",
        "type": "debug",
        "z": "fd45d9f6c1ed23f9",
        "name": "Debug - Sensation",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload.sensation",
        "statusType": "msg",
        "x": 970,
        "y": 320,
        "wires": []
    },
    {
        "id": "27415927.da8bee",
        "type": "hubitat config",
        "name": "C-7",
        "usetls": false,
        "host": "",
        "port": "80",
        "appId": "",
        "nodeRedServer": "",
        "webhookPath": "",
        "autoRefresh": true,
        "useWebsocket": false,
        "colorEnabled": false,
        "color": "#000000"
    }
]
